<section class="card ship-status">

  <h3 class="card-title">Pip Management</h3>

  <div class="card-body">
    <div id="pip-container">
      <div class="heading"><h3>Sys</h3></div>
      <div class="heading"><h3>Eng</h3></div>
      <div class="heading"><h3>Wep</h3></div>

      <div #system class="pips systems">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div #engine class="pips engines">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div #weapon class="pips weapons">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</section>
