<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <div class="card-text row">
      <div class="col">
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalRecords / (params.limit / 10)" [(page)]="params.page" [maxSize]="10"
          [rotate]="false" [ellipses]="true" [boundaryLinks]="true" (pageChange)="onChange()"></ngb-pagination>
      </div>
      <div class="col">
        Displaying {{(params.page - 1) * params.limit}} - {{(params.page) * data.length}} of {{totalRecords}}
        <div>
          <span>Loading: {{loading}}</span>
        </div>
        <ng4-loading-spinner></ng4-loading-spinner>
      </div>
    </div>
    <div class="card-text row">
      <div class="col">
        <form>
          <div class="form-row">
            <div class="form-group col">
              <label for="searchQuery">Search System Name: </label>
              <input type="text" class="form-control" name="searchQuery" id="searchQuery" placeholder="Enter Query..." [(ngModel)]="params.searchQuery"
                (ngModelChange)="onChange()">
            </div>
            <div class="form-group col">
              <label for="limit">Display Limit: </label>
              <select class="form-control" name="limit" id="limit" [(ngModel)]="params.limit" (ngModelChange)="onChange()">
                <option value="" disabled>Select Value</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
              </select>
            </div>

            <div class="form-group col">
              <label for="orderBy">Order By: </label>
              <select class="form-control" name="orderBy" id="orderBy" [(ngModel)]="params.orderBy" (ngModelChange)="onChange()">
                <option value="" disabled>Select Value</option>
                <option value="timestamp">Timestamp</option>
                <option value="systemName">System Name</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col">
    <strong>Total Jumps:</strong> {{totalRecords}}
  </div>
  <div class="col">
    <strong>Total Lighyears Jumped:</strong> {{totalLyJumped}}ly
  </div>
</div>
<div class="row">
  <div class="col">
    <small class="text-muted">
      Displaying {{(page - 1) * limit}} - {{(page) * data.length}} of {{totalRecords}}
    </small>
  </div>
  <div class="col">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalRecords / (limit / 10)" [(page)]="page" [maxSize]="10"
      [rotate]="false" [ellipses]="true" [boundaryLinks]="true" (pageChange)="onChange()"></ngb-pagination>
  </div>

</div>

<div class="row">
  <div class="container">
    <form class="form-inline">
      <label class="sr-only" for="searchQuery">Filter System Name</label>
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" name="searchQuery" id="searchQuery" placeholder="Filter System Name" [(ngModel)]="searchQuery"
          (ngModelChange)="onChange()">
      </div>
    </form>
  </div>
</div> -->
