<div class="row">
  <div id="time">Game Time:
    <i>{{gameTime}}</i>
  </div>

  <div class="col-sm">
    <h3>Ship Info</h3>
    <table id="ship-info-table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Vehicle Type</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Ship Name</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Docked</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Gear Deployed</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Shields up</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">FSD Status</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm">
    <h3>Pips</h3>
    <div id="pip-container">
      <div #system class="pips systems">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div #engine class="pips engines">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div #weapon class="pips weapons">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <h3>Current Location</h3>
  </div>
</div>
