<div class="row status-component">
  <div class="col-sm">
    <app-ship-status *ngIf="statusData.status" [currentShip]="statusData.currentShip" [status]="statusData.status"></app-ship-status>
  </div>

  <div class="col-sm">
    <app-pips-display *ngIf="statusData.status"></app-pips-display>
  </div>

  <div class="col-sm">
    <div class="row">
      <h3>Current Location</h3>
    </div>
    <div class="row" *ngIf="statusData.currentLocation && statusData.currentLocation">
      <div class="col-sm">
        Star System: {{statusData.currentLocation.StarSystem}}
      </div>
    </div>
    <div class="row" *ngIf="statusData.currentLocation && statusData.currentLocation.StationName">
      <div class="col-sm">
        Station: {{statusData.currentLocation.StationName}} ({{statusData.currentLocation.DistFromStarLS.toFixed(2)}}ls)
      </div>
      <div class="col-sm">
        Faction: {{statusData.currentLocation.StationFaction}} ({{statusData.currentLocation.StationGovernment_Localised}})
      </div>
    </div>
    <div class="row" *ngIf="statusData.currentLocation && statusData.currentLocation.StationName">
      <div class="col-sm">
        <ul>
          <li>Economy: {{statusData.currentLocation.StationEconomy_Localised}}</li>
          <li>State: {{statusData.currentLocation.FactionState}}</li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="statusData.currentLocation && statusData.currentLocation.StationServices">
      <div class="col-sm">
        <h3>Station Services</h3>
      </div>
      <div class="col-sm">
        <!-- <span *ngFor="let service of statusData.currentLocation.StationServices}}">{{service}}</span> -->
      </div>
    </div>
  </div>
</div>
