<div class="card"
  *ngIf="data$ | async; let marketData; else noData">

  <div class="card-header">
    <div class="row">
      <h1 class="col">Market Tools</h1>
      <div class="col">
          <span>Last Updated: {{marketData.timestamp | date:'dd-MM-yyyy HH:mm' }}</span>
      </div>
    </div>
  </div>

  <div class="card-content">

    <div class="row">
      <div class="container">
        <div class="col">
          <app-market-toolbar></app-market-toolbar>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <ngb-tabset>
          <ngb-tab *ngFor="let category of marketData.params.categories | arrayFromObjectKeys | arraySort"
            [disabled]="category | isDisabled:marketData.params.categories:(filter$ | async) ">
            <ng-template ngbTabTitle>
              <b>{{category}}</b>
            </ng-template>
            <ng-template ngbTabContent>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                    <th scope="col">Mean</th>
                    <th scope="col">Stock/Demand</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of category | getCommodities:marketData.params.categories:(filter$ | async) | arraySort:'Name_Localised'"
                    [ngClass]="{'table-success': item | goodBuy:(filter$ | async), 'table-danger': item | badSell:(filter$ | async) }"
                    title="Profit Margin: {{item | profit}}">
                    <td>{{item.Name_Localised}}</td>
                    <td>{{item.BuyPrice}}</td>
                    <td>{{item.SellPrice}}</td>
                    <td>{{item.MeanPrice}}</td>
                    <td>{{item.Stock}} / {{item.Demand}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <h2>No Data</h2>
  </ng-template>
