<app-market-toolbar title="Market Data"
  [data]="marketData"
  [lastUpdate]="lastUpdate"
  (filterChange)="filterChange($event)"></app-market-toolbar>

<div class="row">
  <div class="container">
    <ngb-tabset>
      <ngb-tab *ngFor="let result of marketDataKeys"
        [disabled]="isDisabled(result)">
        <ng-template ngbTabTitle>
          <b>{{result}}</b>
        </ng-template>
        <ng-template ngbTabContent>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
                <th scope="col">Mean</th>
                <th scope="col">Stock/Demand</th>
                <th scope="col">Profit Margin</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getCommodities(result)"
                [ngClass]="{'table-success': goodBuy(item), 'table-danger': badSell(item) }"
                title="Profit Margin: {{profit(item)}}">
                <td>{{item.Name_Localised}}</td>
                <td>{{item.BuyPrice}}</td>
                <td>{{item.SellPrice}}</td>
                <td>{{item.MeanPrice}}</td>
                <td>{{item.Stock}} / {{item.Demand}}</td>
                <td>{{profit(item)}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
