<app-journal-filter-bar title="System List"
  [data]="data"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (filterChange)="filterChange($event)"></app-journal-filter-bar>

<div class="loading"
  *ngIf="loading">
  <h2>Loading...</h2>
</div>

<div class="list-group"
  *ngIf="!loading">
  <div class="list-group-item list-group-item-action flex-column align-items-start"

    *ngFor="let system of data; let i = index">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{system.params.StarSystem}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Total Jumps {{system.jumps.length}}</h6>
        <p class="card-text">
          <strong>Faction:</strong> {{faction(system.params)}}
          <br />
          <strong>Economy:</strong> {{system.params.Economy_Localised}}
          <strong>Security:</strong> {{system.params.Security_Localised}}
        </p>
        <div class="card-text">
          <h5><a name="jump-list" (click)="onJumpListToggle(i)">Jump List {{!isOpen(i) ? '+' : '-'}}</a></h5>
          <table class="table table-bordered"
            [hidden]="!isOpen(i)">

            <thead>
              <tr>
                <th scope="col">Jump Date &amp; time</th>
                <th scope="col">Jump Distance (Ly)</th>
                <th scope="col">Fuel Used / Level (Tonne)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jump of system.jumps">
                <td>{{jump.timestamp | date:'dd/MM/yyyy, HH:mm'}}</td>
                <td>{{jump.jump.distance.toFixed(2)}}</td>
                <td>{{jump.fuel.used.toFixed(2)}} / {{jump.fuel.level.toFixed(2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="card">
  <h1 class="card-title">Visted Systems</h1>
  <ngb-pagination [collectionSize]="systemKeys.length / display" [(page)]="countPage" [maxSize]="10" [rotate]="false" [ellipses]="true"
    [boundaryLinks]="true"></ngb-pagination>
  <table class="table" *ngIf="systemKeys.length > 0">
    <thead>
      <tr>
        <th>System Name</th>
        <th>Number of Jumps</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let system of systemKeys | sort">
        <td>{{systems[systemKeys].starSystem}}</td>
        <td>{{systems[systemKeys].jumpCount}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
