<div class="container location">
  <div class="row">
    <div class="col-sm">
      <table>
        <tr>
          <th scope="row">Star System</th>
          <td>{{locationData.params.StarSystem}}</td>
        </tr>
        <tr>
            <th scope="row">Station Name</th>
            <td>{{locationData.params.StationName}}</td>
          </tr>
      </table>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
