<div class="container">

  <app-journal-filter-bar title="System Journal" [data]="data" [totalRecords]="totalRecords" (filterChange)="filterChange($event)"></app-journal-filter-bar>

  <div class="loading" *ngIf="loading">
    <h2>Loading...</h2>
  </div>
  <div class="list-group" *ngIf="!loading">
    <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let jump of data">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{jump.params.StarSystem}}</h5>
        <small class="text-muted">{{jump.timestamp | date:'dd-MM-yyyy HH:mm'}}</small>
      </div>
      <p class="mb-1">
        <strong>Faction:</strong> {{faction(jump.params)}}
        <br />
        <strong>Economy:</strong> {{jump.params.Economy_Localised}}
        <strong>Security:</strong> {{jump.params.Security_Localised}}
      </p>
      <small class="text-muted">
        <strong>Jump Distance:</strong> {{jump.params.JumpDist.toFixed(2)}}ly |
        <strong>Fuel Used / Level:</strong> {{jump.params.FuelUsed.toFixed(2)}} / {{jump.params.FuelLevel.toFixed(2)}}
      </small>
    </div>
  </div>
</div>
