<!--The content below is only a placeholder and can be replaced.-->

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Status</b>
    </ng-template>
    <ng-template ngbTabContent>
      <app-status></app-status>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Market</b>
    </ng-template>
    <ng-template ngbTabContent>
      <app-market></app-market>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Location</b>
    </ng-template>
    <ng-template ngbTabContent>
      <app-location></app-location>
    </ng-template>
  </ngb-tab>
</ngb-tabset>



<router-outlet></router-outlet>
