<form novalidate
  [formGroup]="toolbarGroup$"
  class="form-inline">
  <label class="sr-only"
    for="profitMargin">Profit Margin</label>
  <div class="input-group mb-2 mr-sm-2">
    <input type="number"
      class="form-control"
      id="profitMargin"
      name="profitMargin"
      placeholder="Profit Threshold"
      formControlName="profitMargin">
    <div class="input-group-append">
      <div class="input-group-text">%</div>
    </div>
  </div>

  <label class="sr-only"
    for="searchFilter">Filter Commodity</label>
  <div class="input-group mb-2 mr-sm-2">
    <input type="text"
      class="form-control"
      name="searchFilter"
      id="searchFilter"
      placeholder="Filter Commodity"
      formControlName="searchQuery">
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input"
      type="checkbox"
      id="onlyShowProfitable"
      name="onlyShowProfitable"
      formControlName="filterUnprofitable">
    <label class="form-check-label"
      for="onlyShowProfitable">
      Only show profitable
    </label>
  </div>
</form>
