<div class="row">
  <div class="col-sm">
    <strong>Total Jumps:</strong> {{data.length}}
  </div>
  <div class="col-sm">
    <strong>Total Lighyears Jumped:</strong> {{totalLyJumped}}ly
  </div>
</div>

<div class="row">
  <div class="container">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="data.length / (display / 10)" [(page)]="page" [maxSize]="10"
      [rotate]="false" [ellipses]="true" [boundaryLinks]="true"></ngb-pagination>
  </div>
  <small class="text-muted">
    Displaying {{(page - 1) * display}} - {{(page) * display}} of {{data.length}}
  </small>
</div>
<div class="row">
  <div class="container">
    <form class="form-inline">
      <label class="sr-only" for="searchFilter">Filter System Name</label>
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" name="searchFilter" id="searchFilter" placeholder="Filter System Name" [(ngModel)]="searchFilter">
      </div>
    </form>
  </div>
</div>
<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let jump of journal">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{jump.params.StarSystem}}</h5>
      <small class="text-muted">{{jump.timestamp | date:'dd-MM-yyyy HH:mm'}}</small>
    </div>
    <p class="mb-1">
      <strong>Faction:</strong> {{faction(jump.params)}}
      <br />
      <strong>Economy:</strong> {{jump.params.Economy_Localised}}
      <strong>Security:</strong> {{jump.params.Security_Localised}}
    </p>
    <small class="text-muted">
      <strong>Jump Distance:</strong> {{jump.params.JumpDist.toFixed(2)}}ly |
      <strong>Fuel Used / Level:</strong> {{jump.params.FuelUsed.toFixed(2)}} / {{jump.params.FuelLevel.toFixed(2)}}
    </small>
  </div>
</div>
